<!DOCTYPE html>
<html>
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<script type="text/javascript">
		var app = angular.module("ngApp", []);
		app.controller("ngCtrl", [ '$scope', '$http', function($scope, $http) {

			$http({
				url : "http://54.221.179.25/ngdemo/web/users",
				method : "GET"
			}).then(function(response) {
				$scope.users = response.data;
			});

			$scope.addUser = function() {
				$scope.users.push($scope.newUser);
				$http({
					url : "http://54.221.179.25/ngdemo/web/users",
					method : "POST",
					data : $scope.newUser
				}).then(function(response) {
					$scope.users = response.data;
				});
			}

		} ]);
	</script>
	<div ng-app="ngApp" ng-controller="ngCtrl">
		<div class="container-fluid">
		<header><h1>User Management</h1></header>
			<div class="panel panel-default col-sm-6">
				<div class="panel-heading">Users</div>
				<div class="panel-body">
					<table class="table table-striped">
						<th>User ID</th>
						<th>First Name</th>
						<th>Last Name</th>
						<tr ng-repeat="user in users">
							<td>{{user.id}}</td>
							<td>{{user.firstName}}</td>
							<td>{{user.lastName}}</td>
						</tr>
					</table>
				</div>
			</div>

			<div class="panel panel-default col-sm-6">
				<div class="panel-heading">Add User</div>
				<div class="panel-body">
					<form>
						<div class="form-group">
							<label for="usr">User ID:</label> <input type="number"
								ng-model="newUser.id" class="form-control" id="userId">
						</div>

						<div class="form-group">
							<label for="usr">First Name:</label> <input type="text"
								ng-model="newUser.firstName" class="form-control" id="firstName">
						</div>
						<div class="form-group">
							<label for="usr">Last Name:</label> <input type="text"
								ng-model="newUser.firstName" class="form-control" id="lastname">
						</div>
						<button type="button" class="btn btn-primary" ng-click="addUser()" title="Add User">
							Add User</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
